        @import "vars";
        @import "libs";
        @import "fonts";
        @import "global";
        .header__title {
            max-width: 1200px;
        }
        
        .maxim {
            &__wrapper {
                display: flex;
                justify-content: space-between;
            }
            &__collumn {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding-top: 32px;
            }
            &__image {
                max-width: 750px;
            }
            &__photo {
                width: 100%;
            }
            &__text {
                max-width: 710px;
                text-align: center;
            }
        }
        
        .book {
            max-width: 200px;
        }
        
        .danil {
            &__wrapper {}
        }
        
        .diagram {
            width: 200px;
        }
        
        .question {
            &__image {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &__danil {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &__collumns {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__collumn {
                text-align: center;
                font-weight: 500;
                font-size: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__button {
                max-width: 500px;
                background: aquamarine;
                padding: 19px 23px;
                border-radius: 50px;
                color: lightslategrey;
                cursor: pointer;
            }
            &__button a {
                text-decoration: none;
                color: inherit;
                font-size: 20px;
            }
        }
        
        .more {
            text-align: center;
        }
        /* аккордеон */
        
        .questions {
            margin: 0 auto;
            max-width: 1200px;
            &__items {
                max-width: 1200px;
                padding-bottom: 15px;
            }
            &__item {
                max-width: 1200px;
                position: relative;
                margin-bottom: 5px;
                &:nth-child(3)::before {
                    position: absolute;
                    content: "";
                    height: 125px;
                    top: -33px;
                    right: -386px;
                }
            }
            &__item-title {
                background: antiquewhite;
                font-size: 21px;
                line-height: 28px;
                padding: 20px 10px 24px 40px;
                position: relative;
                cursor: pointer;
                &::after {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    content: url('../img/arrow-down.svg');
                    position: absolute;
                    width: 72px;
                    height: 67px;
                    right: 0px;
                    top: 0;
                    cursor: pointer;
                }
            }
            &__item-text {
                font-size: 15px;
                line-height: 22px;
                margin: 0;
                display: none;
                transition: all .3s;
            }
            &__item.questions__item--active {
                .questions__item-title::after {
                    transform: rotate(180deg);
                }
                .questions__item-text {
                    display: block;
                }
            }
        }
        
        .questions__item-title div {
            max-width: 1000px;
        }
        
        .signature {
            font-size: 20px;
        }
        
        @import "media";